@use "abstracts/functions";
@use "abstracts/mixins";
@use "abstracts/variables";

@use "base/animations";
@use "base/base";
@use "base/typography";
@use "base/utilities";

@use "components/button";
@use "components/change-language";
@use "components/cta";
@use "components/curved-div";

@use "layout/main-section";
@use "layout/faqs";
@use "layout/features";
@use "layout/footer";
@use "layout/header";
@use "layout/hero";
@use "layout/trending";

@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}