@use "../abstracts/variables";
@use "../abstracts/mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10px
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: variables.$main-font;
    background-color: black;
    color: white;
    padding: 2.4rem 0;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include mixins.respond(phone) {
        padding: 3.2rem 0;
    }
}

main > *:not(:last-child){
    margin-bottom: 5rem;
}