@use "../abstracts/variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10px
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 2.4rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

main > *:not(:last-child){
    margin-bottom: 5rem;
}