@use "../abstracts/mixins";

.features {
    padding: 0 2.4rem;

    @include mixins.respond(tab-port) {
        padding: 0 3.2rem;
    }

    @include mixins.respond(tab-land) {
        padding: 0 8rem;
    }

    @include mixins.respond(desktop) {
        padding: 0 14.8rem;
    }

    &__title {
        padding-bottom: 1.6rem;
    }
    
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
        gap: 1.6rem;

        @include mixins.respond(tab-land) {
            grid-template-columns: repeat(2, minmax(32rem, 1fr));
        }

        @include mixins.respond(desktop) {
            grid-template-columns: repeat(4, minmax(24rem, 1fr));
        }
    }

    &__feature {
        background: linear-gradient(to bottom right, rgb(25, 34, 71), rgb(33,14,23));
        border-radius: 1.5rem;

        display: grid;
        grid-template-rows: repeat(3, min-content);
        padding: 2.4rem 1.5rem 1.5rem 1.5rem;
        gap: 1.5rem;

        @include mixins.respond(desktop) {
            grid-template-rows: repeat(2, min-content) 1fr;
        }

        &-title {
            @include mixins.respond(desktop) {
                font-size: 2.4rem;
                font-weight: 300;
            }

        }
        
        &-text {
            color: rgba(white, 0.7);
            font-weight: 400;
        }

        &-icon {
            grid-row: 3;
            justify-self: end;
            margin-right: -1rem;
            align-self: end;
        }
    }
}