@use "../abstracts/mixins";

.trending {
    background-color: black;
    padding: 0 2.4rem;

    @include mixins.respond(tab-port) {
        padding: 0 3.2rem;
    }

    @include mixins.respond(tab-land) {
        padding-left: 8rem;
    }

    &__list {
        position: relative;
        display: flex;
        overflow: hidden;
        padding-top: 1.2rem;
    }

    &__item {
        position: relative;
        padding: 0.5rem 1rem;
        transition: transform 0.3s ease-in-out;

        @include mixins.respond(tab-land) {
            padding: 0.6rem 2.2rem;
        }

        &-img {
            width: 11rem;

            @include mixins.respond(tab-land) {
                width: 14rem;
            }
        }

        &-number {
            font-size: 6.4rem;
            font-weight: 900;
            position: absolute;
            top: 45%;
            right: 69%;
            -webkit-text-fill-color: black;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: white;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__btn-wrapper {
        position: absolute;
        height: 100%;
        width: 10%;
        top: 0;
        right: 0;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        background-color: rgba(white, 0.1);
        color: white;
        border: none;
        border-radius: 10rem;
        height: 60%;
        width: 2.4rem;
        font-weight: 700;
        font-size: 2rem;

        &:hover {
            background-color: rgba(white, 0.2);
        }
    }
}